@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  font-family: "Indie Flower", cursive;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
}

.intro {
  margin: 20px;
  padding: 20px;
}